<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="compilerMode=simple"/>
        <listEntry value="archetypeVersion=1.0.0"/>
        <listEntry value="package=Proy003_banco.Proy003_banco"/>
        <listEntry value="archetypeGroupId=pl.org.miki"/>
        <listEntry value="archetypeArtifactId=java8-quickstart-archetype"/>
        <listEntry value="groupId=Proy003_banco"/>
        <listEntry value="testLibrary=junit"/>
        <listEntry value="artifactId=Proy003_banco"/>
        <listEntry value="outputDirectory=E:\Curos-Java-Angular\eclipse-workspace"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="E:\Curos-Java-Angular\eclipse-workspace"/>
</launchConfiguration>
